@import "variables";

#khc,
#purpose,
#join,
#committee,
#vision {
  h2 {
    text-align: center;
  }
}

#khc,
#purpose,
#join {
  background: $whitesmoke;
}

#committee,
#vision {
  background: rgba($black, 0.8);
  border-bottom: none;
  color: $white;
}

#committee {
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

  img {
    max-height: 65px;
    width: auto;
  }
}

#vision {
  h3 {
    margin-top: 50px;
  }

  a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

  img {
    max-height: 65px;
    width: auto;
  }
}

#join {
  text-align: center;

  .button {
    margin-top: 40px;
  }
}
