@import "variables";

#about,
#mission,
#contact {
  h2 {
    text-align: center;
  }
}

#about,
#mission,
#contact {
  background: $whitesmoke;
}

#mission {
  background: rgba($black, 0.8);
  border-bottom: none;
  color: $white;
}

#mission {
  h3 {
    margin-top: 50px;
  }

  a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

  img {
    max-height: 65px;
    width: auto;
  }
}

#contact {
  text-align: center;

  .button {
    margin-top: 40px;
  }
}
