$blue: #2095f3;
$black: #414453;
$gray: #a6aaba;
$green: #52c5d0;
$white: #ffffff;
$whitesmoke: #f8f8f8;
$covid-blue: #def0f9;
$covid-red: #ff6473;

$min_width: 320px;
$max_width: 1000px;
$min_font: 14px;
$max_font: 18px;
$link_transition: all 0.2s;
