@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Sans+Pro:600");

@import "variables";
@import "mixins";
@import "slider";
@import "header";
@import "khc";
@import "sections/about";
@import "sections/covid";
@import "sections/dev";
@import "sections/examples";
@import "sections/help";
@import "sections/join-our-team";
@import "sections/partners";
@import "sections/sign-up";

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  line-height: 1.25em;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: 1.25em;
}

a {
  color: $blue;
  transition: $link_transition;

  &:hover {
    transition: $link_transition;
    color: darken($blue, 15%);
  }

  &.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background: $blue;
    color: white;
    text-transform: uppercase;
    padding: 8px 20px;
    padding-top: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;

    &.button--covid-red {
      background: $covid-red;

      &:hover {
        background: darken($covid-red, 15%);
      }
    }

    &:hover {
      background: darken($blue, 15%);
      color: white;
    }
  }
}

img {
  max-width: 100%;
}

p.centered {
  text-align: center;
  max-width: 690px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    margin: 1em auto;
  }
}

p.small {
  font-size: 0.7em;
  margin-top: 2em;
  opacity: 0.7;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;

  td, th {
    padding: 0.5em;
  }

  th {
    text-align: left;
  }

  td.centered,
  th.centered {
    text-align: center;
  }

  tbody, thead {
    td, th {
      border: 1px solid currentColor;
    }
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}

.bg {
  background: url("../images/kobo-bg-jennie.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;

  &.bg--hhi {
    background-image: url("../images/kobo-bg-khc.jpg");
  }
}

section.section {
  padding: 80px 30px;
  border-bottom: 1px solid #DDD;

  &:first-of-type {
    padding-top: 70px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 1em;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 0px;

    span {
      border-bottom: 1px dotted $green;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  &.container--centered {
    text-align: center;
  }
}

#features {
  background: $whitesmoke;
}

#blog {
  background: #fff;
}

.two-cols {
  @media screen and (max-width: 768px) {
    &.f2 {
      padding-bottom: 40px;
    }

    &.f1 {
      padding-bottom: 20px;
    }
  }

  img {
    max-width: 100%;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);

    &.no-shadow {
      box-shadow: none;
    }
  }

  .col-list {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: circle;
        margin-bottom: 0.8em;
        margin-left: 1.5em;

        span {
          display: block;
          font-size: 0.75em;
          color: $gray;
        }
      }
    }

    @media screen and (max-width: 768px) {
      clear: both;
      padding-top: 30px;
    }
  }

  @media screen and (min-width: 769px) {
    display: flex;

    .col {
      padding: 25px;
      padding-bottom: 50px;
      width: 50%;

      &.col-wide {
        width: 60%;
      }

      &.col-narrow {
        width: 40%;
      }
    }

    &.f2 .col-wide {
      order: 2;
    }

    &.f2 .col-narrow {
      order: 1;
    }
  }
}

.two-cols.f4 {
  @media screen and (min-width: 769px) {
    max-width: 900px;
    margin: 0 auto;
  }
}

footer {
  background: rgba($black, 0.9);
  padding: 80px 30px;
  text-align: center;
  color: white;

  p {
    font-size: 0.9em;
    margin: 0.4em 0;

    &:last-child {
      margin-top: 1.5em;
    }

    a {
      color: white;
      opacity: 0.6;
      text-decoration: none;
      margin: 0px 10px;

      &:hover {
        color: white;
        opacity: 1;
      }
    }
  }
}

section.section-slider {
  color: white;
  text-align: center;
  position: relative;
  min-height: 600px;

  &:after {
    content: ' ';
    background: rgba($black, 0.75);
    background: linear-gradient(to bottom, rgba($black, 0.9) 0%, rgba($black, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .container {
    padding-top: 200px;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 769px) {
      padding-top: 300px;
    }
  }

  h1 {
    text-transform: uppercase;
    padding: 1em 2em;
    font-size: 2.5rem;
  }

  @media screen and (max-width: 550px) {
    h1 {
      padding: 1em 0;
      font-size: 2.2rem;
    }
  }
}

section.section-text-page {
  .container {
    max-width: 900px;

    h1 {
      text-transform: uppercase;
      padding-top: 50px;
      text-align: center;
    }

    h3 {
      margin-top: 2em;
    }
  }
}

.post-title {
  margin-bottom: 1rem;
}

.post-date {
  font-style: italic;
  margin: 1rem 0;
  text-align: center;
  display: block;
}

.post-related {
  border-top: 1px dotted #ddd;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
}

.post-related__link {
  width: calc(50% - 0.5rem);

  &.post-related__link--previous {
    text-align: left;
    margin-right: 0.5rem;

    &:only-child {
      margin-right: 50%;
    }
  }

  &.post-related__link--next {
    text-align: right;
    margin-left: 0.5rem;

    &:only-child {
      margin-left: 50%;
    }
  }
}

.post-summary {
  border-top: 1px dotted #ddd;
  max-width: $max_width;
  margin: 0 auto;
  padding: 1rem 0;

  .post-summary__title {
    font-size: 1.5rem;
    text-transform: none;
    margin: 1rem 0.5rem;
    text-align: left;
  }

  .post-summary__date {
    float: right;
    margin: 1rem 0.5rem 1rem 1rem;
    font-style: italic;
    line-height: 1.85rem;
  }

  .post-summary__summary {
    margin: 1rem 0.5rem;
  }
}

.banner {
  position: absolute;
  z-index: 10;
  top: 70px + 30px;
  left: 30px;
  right: 30px;
  background: $white;
  color: $black;
  display: flex;
  flex-direction: row;
  text-align: left;

  &.banner--covid {
    border-left: 4px solid $covid-red;

    .banner__image-wrapper {
      background-color: $covid-blue;
      width: 100px;
      height: 100px;
      padding: 15px;
      box-sizing: border-box;
    }

    .banner__image {
      width: 71px;
    }
  }

  .banner__text {
    flex: 1;
    margin: 15px;

    h1 {
      padding: 0;
      margin: 0;
      font-size: inherit;
      text-transform: none;
      font-weight: bold;
    }

    p {
      margin: 0.25em auto 0;
      font-size: 0.8em;
    }
  }

  .banner__action {
    align-self: flex-end;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
  }
}
