@import "../variables";

#join-our-team {
    h2 small {text-transform: none;}
    table {width: 100%;}
    td {
        h3 {margin: 0 !important;}
        border: none;
        vertical-align: top;
        max-width: 33%;
    }
}
