@import "../variables";

#partners {
  text-align: center;
  background: rgba($black, 0.8);
  border-bottom: none;

  h2, h3 {
    color: white;
  }

  h3 {
    margin-top: 50px;
  }
}

.logos-group {
  a {
    display: inline-block;
    margin: 10px;
  }

  img {
    vertical-align: middle;
    height: auto;
    width: auto;
  }

  &.logos-group--main {
    a {
      margin: 30px;
    }

    img {
      height: 65px;
    }
  }

  &.logos-group--additional {
    padding: 10px 40px;

    a {
      margin-bottom: 25px;
    }

    img {
      min-height: 32px;
      max-height: 45px;
    }

    img[src$=".svg"] {
      height: 45px;
    }
  }

  .partner {
    &:hover {
      scale: 1.1;
    }

    &.partner--koboinc img {
      // make it look more in line with other two logos
      max-height: 50px;
      transform: translateY(-5px);
    }

    &.partner--hgc img {
      min-height: 65px;
    }

    &.partner--hilton img,
    &.partner--irc img {
      min-height: 65px;
      max-height: 65px;
    }
  }
}
